<launch>
  <arg name="camera" default="" />
  <arg name="serial_no" default="" />
  <arg name="detect_apriltag" default="false" />

  <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
    <arg name="camera" value="$(arg camera)" />
    <arg name="tf_prefix" value="$(arg camera)" />
    <arg name="serial_no" value="$(arg serial_no)" />
  </include>

  <!-- Launch AprilTag Detection -->
  <group if="$(arg detect_apriltag)">
    <include file="$(find kuavo_camera)/launch/continuous_detection.launch">
      <arg name="camera_name" value="$(arg camera)" />
      <arg name="queue_size" value="1" />
    </include>
  </group>

</launch>