<launch>
  <arg name="bag_file" default=""/>
  <arg name="use_sim_time" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="foxglove" default="false"/>
  <arg name="rviz_config" default="$(find kuavo_mapping)/rviz/load_map.rviz" /> 

  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config)"/>
  </group>
  <node pkg="rosbag" type="play" name="rosbag_play" args="--clock -r 1.0 $(env HOME)/maps/$(arg bag_file)"/>
  <group if="$(arg foxglove)">
    <include file="$(find foxglove_bridge)/ros1_foxglove_bridge/launch/foxglove_bridge.launch"/>
  </group>
</launch>
