<launch>
    
    <arg name="with_wrist_camera" default="false" />

    <!-- 启动 orbbec335L相机 -->
    <include file="$(find orbbec_camera)/launch/gemini_330_series.launch" >
        <arg name="camera_name" value="camera" />
        <arg name="color_fps" value="60" />
    </include>

    <!-- 启动 手腕realsense相机 -->
    <group if="$(arg with_wrist_camera)">
      <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
        <arg name="camera" value="left_wrist_camera" />
        <arg name="tf_prefix" value="left_wrist_camera" />
        <arg name="serial_no" value="$(env LEFT_WRIST_CAMERA_SERIAL_NO)" />
      </include>
    </group>

    <group if="$(arg with_wrist_camera)">
      <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
        <arg name="camera" value="right_wrist_camera" />
        <arg name="tf_prefix" value="right_wrist_camera" />
        <arg name="serial_no" value="$(env RIGHT_WRIST_CAMERA_SERIAL_NO)" />
      </include>
    </group>

    <!-- tf2_ros 静态转换 机器人坐标系下的camera_base 和 相机urdf里面的camera_link 进行对齐 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_to_real_frame" args="0 0 0 0 0 0 camera_base camera_link" />

    <!-- tf2_ros 静态转换 适配旧版本仓库代码 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_torso" args="0 0 0 0 0 0 base_link torso" /> 
    <node pkg="tf2_ros" type="static_transform_publisher" name="zhead_1_link_to_head_yaw" args="0 0 0 0 0 0 zhead_1_link head_yaw" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="zhead_2_link_to_head_pitch" args="0 0 0 0 0 0 zhead_2_link head_pitch" />

    <!-- 启动 apriltag_ros continuous_detection -->
    <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
      <arg name="camera_name" value="/camera/color" />
      <arg name="image_topic" value="image_raw" />
    </include>

    <!-- 启动 ARControlNode -->
    <node pkg="ar_control" type="ar_control_node.py" name="ar_control_node" output="screen" respawn="true" respawn_delay="5" />

</launch>
